<%= render 'home/promo' %>

<!-- ******FEATURES****** -->
<section id="features" class="features section">
  <div class="container">
    <div class="row">
      <h2 class="title text-center sr-only">Features</h2>
      <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
        <%= image_tag "how-it-works/sms.png" %>
        <div class="content">
          <h3 class="title">Register for an account</h3>
          <p>SMS to 21994, beginning with; Subscribe#your full names.  </p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
        <%= image_tag "how-it-works/verify.png" %>
        <div class="content">
          <h3 class="title">Verify your account</h3>
          <p>Receive a Verification SMS. Use the credentials to verify your account </p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
        <%= image_tag "how-it-works/submit.png" %>
        <div class="content">
          <h3 class="title">Submit Product Serial</h3>
          <p>SMS the products serial number each time you buy a product
          </p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
        <%= image_tag "how-it-works/keep.png" %>
        <div class="content">
          <h3 class="title">Keep Packaging</h3>
          <p>After using the product,don't dispose of the packaging. Ensure you keep the packaging safe for
            collection. </p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-6 col-sm-6 col-xs-12 text-center">
        <%= image_tag "how-it-works/collect.png" %>
        <div class="content">
          <h3 class="title">Collection Point</h3>
          <p>Customer bora will collect the trash then transform into art piece through a partnership with Kuona Trust.
          </p>
        </div><!--//content-->
      </div><!--//item-->
    </div><!--//row-->

  </div><!--//container-->
</section><!--//features-->



<!-- ******WHY****** -->
<section id="why" class="features section has-pattern">
  <div class="container">

    <div class="row">
      <h2 class="title text-center why">Why are we doing this?</h2>
      <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="icon">
          <i class="fa fa-globe"></i>
        </div><!--//icon-->
        <div class="content">
          <h3 class="title">Environment</h3>
          <p>At Customer Bora we want to see our environment clean. We reduce littering of undegradable trash,
            through our responsible consumers. </p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="icon">
          <i class="fa fa-users"></i>
        </div><!--//icon-->
        <div class="content">
          <h3 class="title">Customer Loyalty</h3>
          <p>The consumer can know how much they spend on a product, the company can know who, from where and how often
            do they use their product, reward system          </p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="icon">
          <i class="fa fa-thumbs-up"></i>
        </div><!--//icon-->
        <div class="content">
          <h3 class="title">Philanthropy</h3>
          <p>The trash will be recycled put into good use transformed into art pieces that can be later sold and
            proceeds go to charitable community projects.
          </p>
        </div><!--//content-->
      </div><!--//item-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//features-->


<!-- ******FAQ****** -->
<section id="faq" class="faq section">
  <div class="container">
    <div class="row">
      <h2 class="title text-center">Frequently Asked Questions</h2>
      <div class="faq-col col-md-6 col-sm-6 col-xs-12">
        <div class="item">
          <h3 class="question"><i class="fa fa-question-circle"></i>How does Customer Bora Work?</h3>
          <p class="answer">Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare. Aenean tempor, leo vel eleifend porttitor, nibh libero ultricies est, sit amet ultricies magna enim et turpis. Donec aliquam velit eu sollicitudin cursus.</p>
        </div><!--//item-->
        <div class="item">
          <h3 class="question"><i class="fa fa-question-circle"></i>How do I become a customer bora?</h3>
          <p class="answer">Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare.</p>
        </div><!--//item-->
        <div class="item">
          <h3 class="question"><i class="fa fa-question-circle"></i>What are the benefits of joining customer bora</h3>
          <p class="answer">Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare. Aenean tempor, leo vel eleifend porttitor. Aenean tempor, leo vel eleifend porttitor, nibh libero ultricies est.</p>
        </div><!--//item-->
      </div><!--//faq-col-->
      <div class="faq-col col-md-6 col-sm-6 col-xs-12">
        <div class="item">
          <h3 class="question"><i class="fa fa-question-circle"></i>What do you do with the disposed trash?</h3>
          <p class="answer">Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare. Aenean tempor, leo vel eleifend porttitor, nibh libero ultricies est, sit amet ultricies magna enim et turpis. Donec aliquam velit eu sollicitudin cursus.</p>
        </div><!--//item-->
        <div class="item">
          <h3 class="question"><i class="fa fa-question-circle"></i>Can I ipsum dolor sit amet nascetur ridiculus?</h3>
          <p class="answer">Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare.</p>
        </div><!--//item-->
        <div class="item">
          <h3 class="question"><i class="fa fa-question-circle"></i>How can I proin scelerisque magna?</h3>
          <p class="answer">Aenean tempor, leo vel eleifend porttitor, nibh libero ultricies est, sit amet ultricies magna enim et turpis. Donec aliquam velit eu sollicitudin cursus.Proin scelerisque magna ac eros aliquam aliquam id in lacus. Morbi quam tortor, consequat at orci non, vulputate volutpat libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sagittis laoreet urna eu ornare. </p>
        </div><!--//item-->
      </div><!--//faq-col-->
    </div><!--//row-->
    <div class="more text-center">
      <h4 class="title">More questions?</h4>
      <a class="btn btn-lg btn-theme scrollto" href="index.html#contact">Get in touch<i class="fa fa-arrow-circle-o-down"></i></a>
    </div>
  </div><!--//container-->
</section><!--//faq-->



<!-- ******TESTIMONIALS****** -->
<section id="testimonials" class="testimonials section">
  <div class="container">
    <div class="row">
      <h2 class="title text-center">What do people think?</h2>
      <div class="item col-md-4 col-sm-4">
        <div class="quote-box">
          <i class="fa fa-quote-left"></i>
          <blockquote class="quote">
            <a href="index.html#">@customerbora</a> I love this #app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. #Mobile
          </blockquote><!--//quote-->
        </div><!--//quote-box-->
        <div class="people row">
          <%= image_tag "people/people-1.png", class: "img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" %>
          <p class="details text-center pull-left">
            <span class="name">Christine Heal</span>
            <span class="title">Bristol, UK</span>
          </p>
        </div><!--//people-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-4">
        <div class="quote-box">
          <i class="fa fa-quote-left"></i>
          <blockquote class="quote">
            <a href="index.html#">@customerbora</a> consectetur adipiscing elit. #DeltaApp Sed bibendum velit quis nunc laoreet dictum id nisl id lacinia.
          </blockquote><!--//quote-->
        </div><!--//quote-box-->
        <div class="people row">
          <%= image_tag "people/people-2.png", class: "img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" %>
          <p class="details text-center pull-left">
            <span class="name">Ben Rousseau</span>
            <span class="title">Paris, France</span>
          </p>
        </div><!--//people-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-4">
        <div class="quote-box">
          <i class="fa fa-quote-left"></i>
          <blockquote class="quote">
            I find DeltaApp very useful - Lorem ipsum dolor sit amet, check it out: <a href="index.html#">http://bit.ly/1gB9UBR</a>
          </blockquote><!--//quote-->
        </div><!--//quote-box-->
        <div class="people row">
          <%= image_tag "people/people-3.png", class: "img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" %>
          <p class="details text-center pull-left">
            <span class="name">Mike Chan</span>
            <span class="title">Hongkong, China</span>
          </p>
        </div><!--//people-->
      </div><!--//item-->
    </div><!--//row-->

    <div class="press row text-center">
      <h3 class="note">Popular Products</h3>
      <ul class="col-md-12 list-inline">
        <li><%= link_to image_tag("press/press-1.png", class: "img-responsive"), '#' %></li>
        <li><%= link_to image_tag("press/press-2.png", class: "img-responsive"), '#' %></li>
        <li><%= link_to image_tag("press/press-3.png", class: "img-responsive"), '#' %></li>
        <li><%= link_to image_tag("press/press-4.png", class: "img-responsive"), '#' %></li>
        <li class="last"><%= link_to image_tag("press/press-5.png", class: "img-responsive"), '#' %></li>
      </ul>
    </div><!--//row-->
  </div><!--//container-->
</section><!--//Testimonials-->

<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="row text-center">
      <h2 class="title">Contact US</h2>
      <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        <p>We’d love to hear from you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut erat magna. Aliquam porta sem a lacus imperdiet posuere. Integer semper eget ligula id eleifend.</p>
        <ul class="list-unstyled contact-details">
          <li><i class="fa fa-envelope"></i><a href="mailto:hello@website.com">hello@customerbora.com</a></li>
          <li><i class="fa fa-phone-square"></i>0800 123 456</li>
        </ul>
      </div>
    </div><!--//row-->
    <div class="row text-center">
      <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        <form class="form">
          <div class="form-group name">
            <label class="sr-only" for="name">Name</label>
            <input id="name" type="text" class="form-control" placeholder="Name:">
          </div><!--//form-group-->
          <div class="form-group email">
            <label class="sr-only" for="email">Email</label>
            <input id="email" type="email" class="form-control" placeholder="Email:">
          </div><!--//form-group-->
          <div class="form-group message">
            <label class="sr-only" for="message">Message</label>
            <textarea id="message" class="form-control" rows="6" placeholder="Message:"></textarea>
          </div><!--//form-group-->
          <button type="submit" class="btn btn-lg btn-theme">Send Message</button>
        </form><!--//form-->
      </div><!--//contact-form-->
    </div><!--//row-->
    <div class="text-center">
      <ul class="social-icons list-inline">
        <li><a href="index.html#" ><i class="fa fa-twitter"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-facebook"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-linkedin"></i></a></li>
        <li><a href="index.html#" ><i class="fa fa-google-plus"></i></a></li>
      </ul><!--//social-icons-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//contact-->
